<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/期末專題 &amp;&amp; 小組 ─ 俄羅斯方塊/src/testFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="testFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="期末專題 &amp;&amp; 小組 ─ 俄羅斯方塊"/>
</launchConfiguration>
